@model IEnumerable<FlyWith.Models.PersonalDetails_Interest_Level>

@{
    ViewBag.Title = "Index";
}
<link href='@Url.Content("~/Content/jquery-ui.css")' rel="stylesheet" type="text/css" />
<h2>Index</h2>
@section Scripts {
    <script>
        $(function () {
            $("#accordion").accordion({
                header: "h3",
                autoheight: false,
                active: false,
                alwaysOpen: false,
                fillspace: false,
                collapsible: true,
                heightStyle: "content"   //auto, fill, content
            });
        });
    </script>

    <script src='@Url.Content("~/Scripts/jquery-3.1.1.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui.js")' type="text/javascript"></script>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="accordion">
    @foreach (var item in ViewBag.Categories)
    {


        <h3>@Html.Raw(item.Name)</h3>

        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Interest.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Level.Name)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item1 in Model)
                {

                    if (item.InterestGroupID == item1.Interest.InterestGroupID)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item1.Interest.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item1.Level.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { PersonalDetailsID = item1.PersonalDetailsID, InterestID = item1.InterestID }) |
                                @Html.ActionLink("Details", "Details", new { PersonalDetailsID = item1.PersonalDetailsID, InterestID = item1.InterestID }) |
                                @Html.ActionLink("Delete", "Delete", new { PersonalDetailsID = item1.PersonalDetailsID, InterestID = item1.InterestID })
                            </td>
                        </tr>

                    }
                }

            </table>
        </div>

    }
</div>






@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Interest.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDetails.FirstName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Interest.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalDetails.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@
