@model IEnumerable<FlyWith.Models.PesonalDetail_DoInFlight_YesNoAnswer>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/main1.css" />

<h2>Flight Mood</h2>

<br>
<table class="table">
    @foreach (var item in ViewBag.DoInFlight)
    {
       
        foreach (var item1 in Model)
        {

            if (item.DoInFlightID == item1.DoInFlightID)
            {

                <tr>
                    <td style="vertical-align: baseline;"width="30%">
                        <h5>@Html.Raw(item.Name)</h5>
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item1.YesNoAnswer.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { PersonalDetailsID = item1.PersonalDetailsID, DoInFlightID = item1.DoInFlightID }) 
                       
                    </td>
                </tr>

            }
        }
        
    }
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>











@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoInFlight.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalDetails.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YesNoAnswer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoInFlight.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalDetails.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YesNoAnswer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
