@model IEnumerable<FlyWith.Models.PesonalDetail_DoInFlight_YesNoAnswer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @foreach (var item in ViewBag.DoInFlight)
    {
        <tr>
            <th>
                <h2>@Html.Raw(item.Name)</h2>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoInFlight.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YesNoAnswer.Name)
            </th>
            <th></th>
        </tr>
        foreach (var item1 in Model)
        {

            if (item.DoInFlightID == item1.DoInFlightID)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item1.DoInFlight.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item1.YesNoAnswer.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { PersonalDetailsID = item1.PersonalDetailsID, DoInFlightID = item1.DoInFlightID }) |
                        @Html.ActionLink("Details", "Details", new { PersonalDetailsID = item1.PersonalDetailsID, DoInFlightID = item1.DoInFlightID }) |
                        @Html.ActionLink("Delete", "Delete", new { PersonalDetailsID = item1.PersonalDetailsID, DoInFlightID = item1.DoInFlightID })
                    </td>
                </tr>

            }
        }
        <tr></tr>
        <tr></tr>
    }
</table>




@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoInFlight.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalDetails.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YesNoAnswer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoInFlight.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalDetails.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YesNoAnswer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
