@model IEnumerable<FlyWith.Models.Interest>

@{
    ViewBag.Title = "Index";
}

<h2>Interests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InterestGroup.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestGroup.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InterestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InterestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InterestID })
        </td>
    </tr>
}

</table>
