@model IEnumerable<FlyWith.Models.PersonalDetails_Language_LanguageLevel>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/main1.css" />

<body>

    <h2>Spoken languages level </h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        @foreach (var item in ViewBag.Languages)
        {

            foreach (var item1 in Model)
            {

                if (item.LanguageID == item1.LanguageID)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item1.Language.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item1.LanguageLevel.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { PersonalDetailsID = item1.PersonalDetailsID, LanguageID = item1.LanguageID }) |
                            @Html.ActionLink("Delete", "Delete", new { PersonalDetailsID = item1.PersonalDetailsID, LanguageID = item1.LanguageID })
                        </td>
                    </tr>
                }
            }

        }
    </table>

</body>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Language.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageLevel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDetails.FirstName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageLevel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalDetails.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@
