@model IEnumerable<FlyWith.Models.PersonalDetails_SeatingPosition_YesNOAnswer>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/main1.css" />

<h2>Seating Positions Prefaration</h2>
<br>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">
    @foreach (var item in ViewBag.SeatingPositions)
    {
       
        foreach (var item1 in Model)
        {

            if (item.SeatingPositionID == item1.SeatingPositionID)
            {

                <tr>
                    <td>
                        <h5>@Html.Raw(item.Name)</h5>
                    </td>
                    <td style="vertical-align: baseline;"width="30%">
                        <h5> @Html.DisplayFor(modelItem => item1.YesNoAnswer.Name)</h5>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { PersonalDetailsID = item1.PersonalDetailsID, SeatingPOsitionID = item1.SeatingPositionID }) 
                    </td>
                </tr>

            }
        }
        @*<tr></tr>
        <tr></tr>*@
    }
</table>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

























@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonalDetails.FirstName)
        </th>
        <th>Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YesNoAnswer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalDetails.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatingPosition.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YesNoAnswer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
